.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
}

.App-content {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}

.headingText {
  position: fixed;
}